<!DOCTYPE html>
<html lang="en" ng-app="search">
<head>
    <meta charset="UTF-8">
    <title>New search file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="input-div" ng-controller="SearchController">
        <input ng-model="inputValue" type="text" placeholder="folder name" id="find"><br>
        <p ng-show="inputValue"> Name: {{inputValue}}</p>
        <ul ng-repeat="el in fileData | filter:inputValue" item>
            <li>{{el.name+' : '+el.type}}</li>
        </ul>
    </div>
    <div id="tree"></div>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>